<!-- templates/animals/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Management</title>
    <script defer src="{% static 'js/main.js' %}"></script>  <!-- Подключаем скрипт -->
</head>
<body>
    <h1>Animals List</h1>
    
    <div>
        <h2>Makers</h2>
        <ul id="makers-list"></ul>
        
        <h2>Rams</h2>
        <ul id="rams-list"></ul>
        
        <h2>Ewes</h2>
        <ul id="ewes-list"></ul>
    </div>
</body>
</html>
