{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление объектами</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script defer src="{% static 'js/main.js' %}"></script> <!-- Подключение основного JS -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная страница</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Контент будет вставляться в этот блок -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Ферма Бегуницы</p>
    </footer>
</body>
</html>
