version: '3.9'

services:
  db:
    image: postgres:16.4
    container_name: begunici-postgres
    environment:
      POSTGRES_DB: begunici
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
