{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Управление производителями</h1>

    

    <!-- Кнопка для раскрытия формы создания производителя -->
    <button id="toggle-create-maker-form" onclick="toggleForm()">▼ Создать производителя</button>
    <!-- Форма создания производителя, изначально скрытая -->
    <input type="text" id="maker-search" placeholder="Поиск производителей...">

    <form id="create-maker-form" style="display:none;">
        {% csrf_token %}

        <label for="tag">Бирка:</label>
        <input type="text" id="tag" name="tag" placeholder="Введите бирку">

        <label for="animal_status">Статус животного:</label>
        <select id="animal_status" name="animal_status"></select>

        <label for="birth_date">Дата рождения:</label>
        <input type="date" id="birth_date" name="birth_date">

        <label for="plemstatus">Племенной статус:</label>
        <input type="text" id="plemstatus" name="plemstatus" placeholder="Введите племенной статус">
        
        <label for="place">Овчарня:</label>
        <select id="place" name="place"></select>

        <label for="working_condition">Рабочее состояние:</label>
        <input type="text" id="working_condition" name="working_condition" placeholder="Введите рабочее состояние">

        <label for="note">Примечание:</label>
        <input type="text" id="note" name="note" placeholder="Введите примечание">

        <button type="button" id="create-maker-button" onclick="saveMaker()">Создать производителя</button>
    </form>

    <!-- Таблица производителей -->
    <table>
        <thead>
            <tr>
                <th>
                    <label for="select-all">Выбрать все записи страницы</label>
                    <input type="checkbox" id="select-all" onclick="toggleSelectAll(this)">
                </th> <!-- Чекбокс для выбора всех -->
                <th>№</th>
                <th>Бирка</th>
                <th>Статус</th>
                <th>Возраст</th>
                <th>Овчарня</th>
                <th>Текущий статус работы</th>
                <th>Вес</th>
                <th>Ветобработка</th>
                <th>Примечание</th>
            </tr>
        </thead>
        <tbody id="maker-list"></tbody>
    </table>
    
    <!-- Кнопка для удаления выбранных -->
    <button id="delete-selected-button" style="display:none;" onclick="deleteSelectedMakers()">Удалить выбранные</button>
    
    <div id="pagination"></div> <!-- Контейнер для кнопок пагинации -->

    <!-- Сообщение об ошибке или успехе -->
    <div id="maker-message" style="display: none;"></div>

    <!-- Подключение скриптов -->
    <script src="{% static 'js/makers.js' %}"></script>
    <script>
    

        function toggleForm() {
            const form = document.getElementById('create-maker-form');
            form.style.display = form.style.display === 'none' ? 'block' : 'none';
        }

        function searchMakers() {
            const query = document.getElementById('maker-search').value;
            fetchMakers(query); // Поиск производителей
        }
    </script>
{% endblock %}