{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="analytics-detail" data-maker-id="{{ maker.tag.tag_number }}">
    <h1>Аналитика: {{ maker.tag.tag_number }}</h1>

    <!-- График веса -->
    <h3>График изменения веса</h3>
    <canvas id="weight-chart"></canvas>

    <!-- Календарь ветобработок -->
    <h3>Календарь ветобработок</h3>
    <table>
        <thead>
            <tr>
                <th>Дата обработки</th>
                <th>Название обработки</th>
            </tr>
        </thead>
        <tbody id="vet-calendar">
            <!-- Заполняется через JS -->
        </tbody>
        <div id="vet-calendar-pagination" class="pagination-controls">
            <button id="vet-calendar-prev" disabled>Предыдущий</button>
            <button id="vet-calendar-next" disabled>Следующий</button>
        </div>
    </table>
    

    <!-- Список детей -->
    <h3>Список детей</h3>
    Всего детей: <ul id="children-count"></ul>
    <table id="children-table">
        <thead>
            <tr>
                <th>Бирка</th>           
                <th>Тип животного</th>
                <th>Возраст</th>
            </tr>
        </thead>
        <tbody id="children-list"></tbody>
        <div id="children-pagination" class="pagination-controls">
            <button id="children-prev" disabled>Предыдущий</button>
            <button id="children-next" disabled>Следующий</button>
        </div>
    </table>

    <!-- История статусов -->
    <h3>История статусов</h3>
    <table>
        <thead>
            <tr>
                <th>Дата изменения статуса</th>
                <th>Старый статус</th>
                <th>Новый статус</th>
            </tr>
        </thead>
        <tbody id="status-history-list">
            <!-- Заполняется через JS -->
        </tbody>
        <div id="status-pagination" class="pagination-controls">
            <button id="status-history-prev" disabled>Предыдущий</button>
            <button id="status-history-next" disabled>Следующий</button>
        </div>
    </table>

    <!-- История перемещений -->
    <h3>История перемещений</h3>
    <table>
        <thead>
            <tr>
                <th>Дата перевода</th>
                <th>Старое место</th>
                <th>Новое место</th>
                
            </tr>
        </thead>
        <tbody id="place-history"></tbody>
        <div id="place-pagination" class="pagination-controls">
            <button id="place-history-prev" disabled>Предыдущий</button>
            <button id="place-history-next" disabled>Следующий</button>
        </div>
    </table>
    
</div>

<script src="{% static 'js/maker_analytics.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
