body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

table {
    margin-top: 10px; /* Отступ перед таблицами */
    margin-bottom: 20px; /* Отступ после таблиц */
    width: 100%; /* Опционально: таблицы будут занимать всю ширину контейнера */
    border-collapse: collapse; /* Убираем промежутки между ячейками */
}

th, td {
    padding: 10px; /* Добавляем отступы внутри ячеек таблицы */
    border: 1px solid #ddd; /* Легкая рамка для ячеек */
    text-align: left; /* Текст по левому краю */
}

th {
    background-color: #f4f4f4; /* Фон для заголовков таблицы */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
}

.pagination-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination-button:hover {
    background-color: #e9ecef;
}

#filter-container {
    margin-bottom: 20px;
}

#archive-table {
    width: 100%;
    border-collapse: collapse;
}

#archive-table th, #archive-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
